:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #141414;
  --background-color: #141414;
  --primary-black-color: #0c0c0c;
  --secondary-black-color: #222;
  --terciary-black-color: #333;
  --text-primary: #fff;
  --bold-black-border: 2px solid black;
  --bold-white-border: 2px solid white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}
